# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VS Code local settings
.vscode/

# Training outputs
trainning_model/artifacts/

# Dataset and local data files
*.csv
*.pkl
trainning_model/users.db

# OS files
.DS_Store
Thumbs.db
